/* Multi-Checkbox Button Style */
.multi-checkbox {
  background: transparent;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

.guess-component {
  width: 150px;
}

/* Text changes depending on button status */
.checked {
  font-weight: bold;
}

.x {
  text-decoration: line-through;
}


body {
  background: #232335;
  color: #fefefe;
}
footer {
  margin-top: 100px;
  padding: 6px 12px;
}
.markdown-body h1 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: lightblue;
  border-bottom: 1px solid lightblue;
  font-weight: 300;
  letter-spacing: 1.4px;
  padding: 6px 15px;
}
.markdown-body h2 {
  padding: 6px 15px;
  font-weight: 400;
  margin: 10px 0;
  border:  none;
  font-size: 18px;
  font-family: 'Garamond', Times New Roman;
}

/* TABLE */

.markdown-body table {
  max-width: calc(100vw - 12px);
}
.markdown-body table td, 
.markdown-body table th {
  padding: 6px;
}
.markdown-body table td:not(:first-child), 
.markdown-body table th:not(:first-child) {
  max-width: 44px;
  width: 44px;
}
.markdown-body table thead tr {
  background-color: #9632fa80;
}
.markdown-body table thead th {
  text-transform: uppercase;
}
.markdown-body table tr {  
  background-color: #232335;
  border-top: 1px solid #c6cbd1;
}
.markdown-body table tr:nth-child(2n) {
  background-color: #232335;
}
.guess-component {
    width: 120px;
}
table input[type="text"] {
  width: 33px;
  text-align:  center;
}

table#one {
  border-color: #9632fa;
  box-shadow: 0 4px 8px #9632fa80;
  margin:  5px;
}
table#one thead th,table#one tbody td {
  border-color: #9632fa;
  text-align: left;
}

table#two {
  border-color: #32faca;
  box-shadow: 0 4px 8px #32faca80;
  margin: 25px 5px 5px;
}
table#two thead th,
table#two tbody td {
  border-color: #32faca;
  text-align: left;
}
table#two thead tr {
  background-color: #32faca80;
}

table#three {
  border-color: #fa326f;
  box-shadow: 0 4px 8px #fa326f80;
  margin: 25px 5px 5px;
}
table#three thead th,
table#three tbody td {
  border-color: #fa326f;
  text-align: left;
}
table#three thead tr {
  background-color: #fa326f80;
}